@import "../common/constants";
@import "../common/init";
@import "../common/header";
@import "../common/footer";
@import "../common/body";
@import "course_nav";

body {
  position: relative;
}

.main {

  .wrapper {
    margin-top: 20px;

    .course-details {
      $courseItemHeight: 330px;
      $thumbnailHeight: 256px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: space-around;

      li {
        margin-right: 20px;
        float: left;
        width: 252px;
        background: #fff;
        height: $courseItemHeight;
        overflow: hidden;
        margin-bottom: 20px;

        &:hover {
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          }

        a {
          text-decoration: none;

          .thumbnail-group {
            img {
              width: 100%;
              height: $thumbnailHeight;
            }

            .desc {
              width: 100%;
              float: left;
              padding: 4px 10px;
              color: $mainFrontColor;
              margin-top: 4px;
              font-size: 16px;
              font-weight: 600;
            }

            .more-detail {
              font-size: 14px;
              width: 100%;

              .author {
                float: left;
                padding-left: 8px;
                color: $mainFrontColor;
                padding-top: 10px;
              }

              .price {
                float: right;
                padding-right: 8px;
                padding-top: 10px;

                .free {
                  color: rgb(126, 211, 33);
                }

                .pay {
                  color: rgb(245, 74, 74);
                }
              }
            }
          }
        }
      }
    }
  }
}