$pageheigth: 64px;
$mainWidth: 1360px;
$sidebarWidth: 260px;
$newsWidth: $mainWidth - $sidebarWidth;
$bannerHeight: 140px;
$themeColor: #5c87d9;
$assistColor: #878787;
$borderColor: #eeeeee;
$imgWidth: 226px;
$imgHeight: 220px;
$mainFrontColor: #212121;

$payColor: #f07b25;
$freeColor: #7ed321;